<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<%# <%= @search_results.inspect %> %>

<% @search_results.each do |result| %>
  <h3><%= result['name'] %></h3>
  <p><%= result['images'] %></p>
  <p><%= result['topCriticScore'] %></p>
<% end %>
